.branded-button {
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  padding: 4px;
  text-decoration: none;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

@include media-up(sm) {
  .branded-button {
    margin: 0 10px 0 0;
  }
}
