.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

    li {
        list-style-type: none;
        padding: 10px 0;
    }

    li a {
        color: $black;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: -1px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: $gray;
        }
    }

    .line {
      border-bottom: 2px solid $black;
      margin: 30px 0 30px auto;
      width: 100px;
    }

    div.text-section {
      margin-bottom: 10px;
    }
}

@include media-up(sm){
  .nav-menu {
    height: 470px;
    text-align: right;
    li {
        list-style-type: none;
    }
  }
}

@include media-up(md){
  .nav-menu {
    li {
        list-style-type: none;
        padding: 0;
    }
  }
}
