.project {
    list-style: none;
    padding: 15px 0;

    .project-title {
        padding-bottom: 4px;
    }

    .project-description {
        padding-bottom: 4px;
    }

    .project-tags {
        padding-bottom: 10px;
        word-wrap: break-word;
    }

    .project-tag-inline {
        margin-right: 3px;
    }

    .project-link-holder {
        display: flex;
        justify-content: space-between;
    }

    .project-link {
        border: 1px solid $black;
        color: $black;
        padding: 4px;
        text-decoration: none;

        &:hover {
            color: $white;
            background-color: $black;
        }
    }
}

@include media-up(sm) {
    .project .project-link-holder {
        justify-content: flex-start;

        .project-link {
            margin: 0 10px 0 0;
        }
    }
}
