.project-tag {
    display: inline;

    button {
        display: inline-block;
        border: none;
        font-weight: 300;
        margin: 0;
        padding-top: 0;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: none;

        &:hover {
            background-color: $gray;
        }

        &:focus {
            background-color: $black;
            color: $white;
        }
    }
}

@include media-up(sm) {
    .project-tag {
        font-size: 11px;
    }
}
