.project-tags-filter {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: -3px 0 0;
    padding: 0;
}

.filter-text {
    font-weight: 300;
    margin: 0 0 10px 7px;
}

@include media-breakpoint-up(sm) {
    .filter-text {
        border-right: 1px solid $black;
        margin: 0;
        font-size: 11px;
    }
}
