.quote {
  align-items: center;
  border-left: 2px solid $black;
  display: flex;
  height: 50px;
  margin: 20px 0;

  .quote-text {
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    padding-left: 20px;

    &:hover {
      color: $black;
    }
  }
}

@include media-breakpoint-up(sm) {
  .quote {
    margin: 90px 0 17px;
  }
}

@include media-breakpoint-up(md) {
  .quote {
    margin: 118px 0 50px;
  }
}
