a.books-link {
  color: $black;
  text-decoration: none;
}

.books-container{
  pointer-events: none;
}

.book {
  div {
    align-items: center;
    text-align: center;

    a {
      color: $black;
      text-decoration: none;

      img {
        display: block;
        margin: 0 auto;
        padding: 30px 10px 10px 0;
      }
    }

    a:not(:first-child),
    span {
      padding-left: 2px;
    }

    table {
      display: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  .book div {
    display: flex;
    font-size: 10px;
    font-weight: 300;
    text-align: left;

    a img {
      padding: 10px 10px 10px 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .books {
    padding-left: 115px;

    .book {
      padding: 0 0 20px;
    }

    div a img {
      padding: 0px 10px 0px 0;
    }
  }
}
