@import "../styles/grid.scss";

.home {
  text-align: right;
}

h1.home-header {
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

@include media-breakpoint-up(sm){
  body{
    color: blue;
  }
}