@import '../styles/grid';

.home {
  height: 300px;
  display: flex;
  justify-content: flex-end;
}

.home-header {
  height: 40px;
  max-width: 250px;
  text-align: right;
}

@include media-up(sm) {
    .home {
      height: 470px;
      justify-content: flex-start;
    }

    .home-header {
      max-width: 100%;
      text-align: left;
      align-self: center;
    }
}
