@import './styles/variables';

.main {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
}

body {
  font-family: $main-font-regular;
  margin: 10px 20px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-up(sm) {
  body {
    margin: 10px;
  }
}

@include media-breakpoint-up(md) {
  body {
    overflow: scroll;
  }
}