@import './styles/variables';

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: $lg;
}

.main-video-container {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.main-video {
  left: -1%;
  position: relative;
  top: -1%;
  width: 101%;
}

body {
  font-family: $main-font-regular;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
}

@include media-up(sm) {
  body {
    margin: 10px;
  }
}

@include media-up(md) {
  body {
    overflow: scroll;
    .main-container {
      padding-left: 115px;
    }
  }
}