// Layout (match up with react-grid-system)
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Font Families
$main-font-regular: "Helvetica Neue", "Lato", sans-serif;

// Colors
$black: #000;
$gray: #e6e6e6;
$white: #fff;